.navLink>li>a.active {
    background-color: rgb(251 191 36) !important;
    color: rgb(241 245 249) !important;
    border-radius: 0px;
}

.navLink>li>a:hover {
    background-color: transparent;
    color: rgb(251 191 36);
}